.tech-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tech-container-heading{
    font-size: 2.43056vw;
    color: #4a4a4a;
    margin-top: 20px;
    border-bottom: 2px solid red;
}
.grid{
    margin-top: 4.86111vw;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5vw;
    height: 11.80556vw;
    cursor: pointer;
    border-bottom: .5px solid hsla(0,0%,59.2%,.5);
    border-right: .5px solid hsla(0,0%,59.2%,.5);
}
.grid-style-image{
    width: 8.61111vw;
    height: 4.42361vw;
}
